* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
  height: 90px;
  background-color: white;
}
header img {
  vertical-align: middle;
  margin: 20px 5px 20px 20px;
}
header span {
  font-size: 50px;
  font-weight: 900;
  vertical-align: middle;
}

/* Container */
.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  background-color: white;
  border-radius: 4px;
}

.container.first {
  margin-top: 30px;
  padding: 15px 30px 15px 30px;
}

.container.second {
  margin-top: 5px;
  padding: 20px 30px 20px 30px;
}
.container button {
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  border: none;
  vertical-align: middle;
}
.container .blue {
  background-color: rgb(100, 160, 250);
  color: white;
}
.container .white {
  background-color: white;
  color: #bebebe;
  border: 1px solid #bebebe;
}

/* Style list */
.container ul {
  list-style: none;
  margin-top: 5px;
  margin-bottom: 20px;
}
.second-list {
  margin-left: 20px;
}

.container li {
  padding-top: 10px;
}

/* Divs Icons in list */
ul .div-icons {
  display: inline-block;
  height: 30px;
  width: 90px;
  color:white;
  vertical-align: middle;
  padding-top: 6px;
  border-radius: 20px;
  text-align: center;
}
.div-icons.editorial {
  background-color: rgb(69 171 234);
}
.div-icons.q1-goals {
    background-color: rgb(156 114 228);
}
.div-icons.recruiting {
    background-color: rgb(100 192 169);
}
.div-icons.mobile {
    background-color: rgb(242 158 51);
}
.div-icons.website {
    background-color: rgb(216 99 161);
}
.div-icons.sales {
    background-color: rgb(176 201 38);
}
